<% provide(:title,"Homepage") %>
<div class="center jubotron">
	<h1>Здарова!</h1>
	<h2>Мой профиль на <%= link_to "GitHub", "https://github.com/daniilty" %></h2>
	<h2><%= link_to image_tag("signup.png", alt: "signup"),'/users/new' %>
	</h2>
</div>
