
<% provide(:title,"Sign up") %>
<div class="center jubotron">
<h1>This is signup page</h1>
<p> Don't have anything right here </p>
<%= link_to image_tag("back.png", alt: "back"),"/static_pages/home" %>
</div>